.container-base-modal {
  padding: $spacing-lg;
  min-width: 500px;

  .container-header {
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    h1 {
      font-size: $font-size-lg;
    }
  }

  .content-dois-botoes {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 500px) {
  .container-base-modal {
    min-width: 100%;
  }
}
