.container-card {
  padding: $spacing-lg;
  border-radius: $spacing-sm;

  .header-centralizado {
    text-align: center;
  }

  .separador {
    margin-bottom: $spacing-lg;
  }
}

.container-botao-retorno {
  margin-bottom: $spacing-md;
}
