// Auxiliar primaria
$color-primary-900: #151261;
$color-primary-700: #4944b3;
$color-primary-400: #7a76de;
$color-primary-100: #e1deff;
$color-primary-50: #f5f4ff;

// Auxiliar sucesso
$color-success-900: #6bbe00;
$color-success-700: #8dd82c;
$color-success-100: #f1ffde;

// Auxiliar Error
$color-error-900: #c20000;
$color-error-700: #d1403f;
$color-error-100: #ffdedede;

// Auxiliary
$color-gray-900: #131313;
$color-gray-700: #3d3d3d;
$color-gray-500: #747474;
$color-gray-400: #f9f9f9;
$color-gray-disabled-700: #d9d9d9;
$color-gray-100: #f3f3f3;
$color-white-100: #ffffff;
$color-gray-overlay-100: rgba(255, 255, 255, 0.6);
